/* Hide scrollbar for Chrome, Safari, Edge, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;
}

.access-shadow {
    box-shadow: 3px 3px 78px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 78px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 78px 0px rgba(0, 0, 0, 0.75);
}