.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__text {
    text-align: center;
    margin: 20px 0;
}

.slide-text {
    text-align: center;
}

.slide-arrow {
    margin-top: 10px;
}

.slide__link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}