.main__product {
    position: relative;
    color: white;
}

.main__product img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product__text {
    position: absolute;
    top: 460px;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 823px;
    height: 149px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .main__product {
        position: relative;
        color: white;
    }

    .main__product img {
        width: 100vw;
        height: 250px;
        display: block;
        object-fit: cover;
    }

    .product__text {
        position: absolute;
        top: 200px;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 243px;
        height: 100px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
    }
}

.product__text p b {
    color: #9E825B;
}

.product {
    background: rgba(255, 255, 255, 1);
}

.products {
    display: flex;
}

.product-left {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.product-left img {
    width: 519px;
    height: 506px;
    border-radius: 0 0 50px 0;
}

.product-right {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.product-right h4 {
    color: #9E825B;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.underline {
    width: 43px;
    height: 2px;
    background-color: #9E825B;
    margin-bottom: 20px;
}

.product-right p {
    width: 530px;
    height: 203px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .products {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-left {
        padding: 30px 40px;
    }

    .product-left img {
        width: 315px;
        height: 258px;
        border-radius: 20px;
    }

    .product-right {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }

    .product-right h4 {
        display: none;
    }

    .product-right .underline {
        display: none;
    }

    .product-right p {
        width: 361px;
        height: 297px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.productslider {
    background: rgba(241, 245, 249, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.productslider h1 {
    align-items: center;
    display: flex;
}

.productslider h2 {
    display: none;
}

.section {
    margin: 5rem auto;
}

.section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 1135px;
    height: 550px;
    text-align: start;
    position: relative;
    display: flex;
    overflow: hidden;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.nextSlide {
    transform: translateX(100%);
}

article.lastSlide {
    transform: translateX(-100%);
}

.person-img {

    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
    color: #9E825B;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center
}

.prev,
.next {
    position: absolute;
    top: 500px;
    transform: translateY(-50%);
    color: #9E825B;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #9E825B;
    font-size: 1rem;
}

.prev:hover,
.next:hover {
    background-color: #9E825B;
    color: var(--color-white);
}

.prev {
    left: 500px;
}

.next {
    right: 500px;
}

.divide {
    display: flex;
}

.quote {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 597px;
    height: 140px;
}

.left a {
    color: #9E825B;
    width: 148px;
    height: 68px;
    padding: 10px, 10px, 10px, 0px;
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 18px;
}

.left {
    flex: 1;
    padding-left: 20px;
}

.left h4 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 10px;
    color: #9E825B;
    width: 100px;
}

.right {
    flex: 1;
}

.right img {
    width: 505px;
    height: 400px;
    border-radius: 20px;
    margin: 20px 20px;
}

@media screen and (max-width: 767px) {
    .productslider {
        background: rgba(241, 245, 249, 1);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .productslider h1 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        width: 348px;
        height: 77px;
    }

    .productslider h2 {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 30px;
        display: flex;
    }

    .section-center {
        height: 1200px;
        margin: 0;
    }

    /* 
    article {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        opacity: 0;
        transition: all 0.3s linear;
    } */

    .divide {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 700px;
    }

    .left {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .left h4 {
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #9E825B;
        width: 100px;
    }

    .quote {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        width: 348px;
        height: 200px;
        padding-right: 40px;
    }

    .left a {
        color: #9E825B;
        width: 148px;
        height: 68px;
        gap: 10px;
        align-items: center;
        display: flex;
        font-size: 18px;
    }

    .right {
        padding-right: 50px;
    }

    .right img {
        width: 360px;
        height: 400px;
        border-radius: 20px;
        margin: 20px 20px;
    }

    .prev,
    .next {
        position: absolute;
        top: 1100px;
        transform: translateY(-50%);
        color: #9E825B;
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        border: 1px solid #9E825B;
        font-size: 1rem;
    }

    .prev:hover,
    .next:hover {
        background-color: #9E825B;
        color: var(--color-white);
    }

    .prev {
        left: 100px;
    }

    .next {
        right: 900px;
    }
}

.video__section {
    background: rgba(253, 254, 255, 1);
    padding: 50px 0;
}

.video-main {
    background: rgba(249, 230, 203, 0.2);
    display: flex;
    width: 1141px;
    height: 362px;
}

.video__left {
    flex: 1;
    width: 578px;
    height: 362px;
}

.video__left video {
    width: 578px;
    height: 362px;
    border-radius: 20px;
    object-fit: cover;
    border: none;
}

.video__right {
    flex: 1;
    padding-left: 60px;
    padding-top: 80px;
    font-family: "Inter", sans-serif;
}

.video__right {
    width: 437px;
    height: 117px;
    padding-right: 20px;
}

.video__right h4 {
    color: #475569;
    letter-spacing: 2.26px;
}

.video__right h6 {
    padding-bottom: 20px;
}

.video__right small {
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .video-main {
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    .video__left {
        padding-left: 20px;
    }

    .video__left video {
        width: 349px;
        height: 362px;
        border-radius: 20px;
        object-fit: cover;
        border: none;
    }

    .video__right {
        padding-left: 20px;
    }

    .video__right h4 {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2.2640624046325684px;
        text-align: left;
    }

    .video__right h6 {
        font-family: "Inter", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 20px;
    }

    .video__right small {
        width: 349px;
        height: 69px;
    }
}

.insurance {
    background-color: #FDFEFF;
    padding-top: 30px;
    width: 100%;
    height: 1050px;
}

.prod-insure {
    margin-left: 190px;
}

.prod-insure h2 {
    font-family: "Inter", sans-serif;
    color: #A2865F;
    font-size: 30px;

}

.main-insurance {
    background-image: url("../images/productInsurance.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 895px;
    margin-top: 30px;
    position: relative;
}

.glass-bg {
    width: 1140px;
    height: 653px;
    position: absolute;
    background: linear-gradient(135deg, rgba(72, 72, 72, 0.36), rgba(72, 72, 72, 0.36));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 140px;
    margin-left: 190px;
}

.glass-table {
    width: 1035px;
    height: 527px;
    padding-left: 30px;
    padding-top: 30px;

}

table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(135deg, rgba(72, 72, 72, 0.36), rgba(72, 72, 72, 0.36));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    text-align: start;

}

.dosh {
    width: 150px;
    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: #FDFEFF;
}

.dosh img {
    display: flex;
    justify-content: center;
    width: 100px;
    align-items: center;
    margin-left: 20px;
}

.heading,
.heading-total {
    display: flex;
    width: 180px;
    height: 50px;
    color: #FDFEFF;
}

.heading-total {
    color: #a0a1a2;
}

.heading-last {
    border: none;
}

.price,
.price-like,
.price-next {
    border: 1px solid rgba(255, 255, 255, 0.1);
    ;
    width: 110px;
    padding-top: 20px;
    letter-spacing: 2px;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
}

.price h3,
.price-like h3,
.price-next h3 {
    color: #FFE9CA;
    font-size: 19px;
}

.price span,
.price-like span,
.price-next span {
    color: var(--color-white);
    font-weight: 600;
    font-size: 23px;
}

.price small,
.price-like small,
.price-next small {
    padding-bottom: 30px;
    padding-top: 20px;
}

.price small a,
.price-like small a,
.price-next small a {
    color: #FFE9CA;
    font-size: 12px;
    font-weight: bold;
}


.price h3,
.price-like h3,
.price-next h3,
.price span,
.price-like span,
.price-next span,
.price small,
.price-like small,
.price-next small {
    display: block;
    margin-bottom: 10px;
    /* Adjust spacing between elements */
}

.row-center,
.row-center-total {
    padding-left: 30px;
    color: #FDFEFF;
}

.row-center-total {
    color: #a0a1a2;
}

.signup-button {
    text-align: center;
    padding-top: 50px;
    border: none;
}

.signup-button button {
    padding: 10px 20px;
    background-color: #A2865F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button button:hover {
    background-color: #fff;
    color: #9E825B;
}

@media screen and (max-width: 767px) {
    .ps__page {
        overflow: hidden;
    }

    .glass-bg {
        width: 100%;
        /* Adjust width for smaller screens */
        margin-left: 0;
        /* Adjust margin for smaller screens */
    }

    .glass-table {
        width: 100%;
        /* Adjust width for smaller screens */
        padding-left: 5%;
        /* Adjust padding for smaller screens */
        overflow-y: auto;
        /* Add vertical scrollbar */
        height: 600px;
        /* Set max height for the table */
    }

    table {
        width: 100%;
        height: 500px;
        padding-left: 0;
        /* Remove left padding for smaller screens */
        padding-right: 0;
        /* Remove right padding for smaller screens */
    }

    td {
        padding: 5px;
        /* Adjust cell padding for smaller screens */
    }

    .price,
    .price-like,
    .price-next {
        width: 33.33%;
        /* Adjust width for smaller screens */
    }
}