.radio__reg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reg__input {
    align-items: center;
    display: flex;
    gap: 10px;
}

.reg__input label {
    color: white;
    font-family: "Inter", sans-serif;
}