.containertabs {
  width: 100%;
  /* margin: 20px auto; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.tab-button:hover {
  background-color: #e7e7e7;
}

.hospital-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 25px;
}

.hospital-table th,
.hospital-table td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #987c55;
}

.hospital-table th {
  background-color: #fff;
  font-weight: bold;
}

.hospital-table td {
  background-color: #fff;
}

.hospital-table tr:hover {
  background-color: #b7b2b2;
}

.hospital-logo {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.view_maps,
.email_link {
  text-decoration: underline;
  color: #987c55;
  font-size: 12px;
}

@media (max-width: 767px) {
  .tabs {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }

  .hospital-table-container {
    overflow-x: scroll;
  }

  .tab-button {
    margin-bottom: 10px;
  }

  .hospital-table th,
  .hospital-table td {
    padding: 10px;
  }

  .hospital-table {
    font-size: 14px;
  }

  .hospital-logo {
    width: 20px;
  }
}

@media (max-width: 480px) {
  .containertabs {
    width: 100%;
    padding: 10px;
    overflow-x: scroll;
  }

  .hospital-table th,
  .hospital-table td {
    padding: 8px;
  }

  .hospital-table {
    font-size: 12px;
  }

  .hospital-logo {
    width: 18px;
  }
}

.table-container {
  width: 100%; /* Ensure it fits the parent container */
  padding: 0; /* Remove extra padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.hospital-table {
  width: 100%; /* Make table take up full width */
  table-layout: fixed; /* Force table cells to fit within available space */
  border-collapse: collapse;
}

.hospital-table th,
.hospital-table td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #987c55;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
  word-break: break-word; /* For older browsers */
}

.hospital-table th {
  font-weight: bold;
  background-color: #fff;
}

.hospital-table td {
  background-color: #fff;
}

.hospital-table tr:hover {
  background-color: #b7b2b2;
}

@media (max-width: 767px) {
  .hospital-table th,
  .hospital-table td {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hospital-table th,
  .hospital-table td {
    padding: 8px;
    font-size: 12px;
  }
}
