.insure-modal {
    display: flex;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insure-content {
    display: flex;
    width: 1239px;
    height: 686px;
    background: #eae7e7;
    padding: 20px;
    flex-direction: column;
}

.top__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top__section-close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #987C55;
}

.selector {
    opacity: 0;
}

.top_list {
    max-width: 80%;
    margin-left: 80px;
}

.top_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.top_link {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacbcd;
    border-radius: 30px;
    color: #90A3BF;
    cursor: pointer;
}

.activator {
    background-color: #987C55;
}

.package_list {
    max-width: 80%;
    margin-left: 100px;
}

.package_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 60px;
    margin-top: 30px;

}

.package_link {
    color: #90A3BF;
    display: flex;
}

.link_underline {
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

.main_package {
    display: flex;
    margin-top: 40px;
    max-width: 100%;
    background: url("/src/images/ModalBg.png");
    gap: 50px;
}

.package_left {
    margin-top: 20px;
    flex: 1;
}

.package_right {
    margin-top: 20px;
    flex: 2;
}

.package_title {
    font-family: "Inter", sans-serif;
    font-size: 48.96px;
    font-weight: 400;
    line-height: 48.96px;
    text-align: left;
    margin-bottom: 20px;
    color: #000;
}

.package_number {
    font-family: "Inter", sans-serif;
    font-size: 48.96px;
    font-weight: 800;
    line-height: 48.96px;
    text-align: left;
    margin-bottom: 10px;
    color: #987C55;
}

.package_desc {
    font-family: "Inter", sans-serif;
    font-size: 24.98px;
    font-weight: 300;
    line-height: 29.6px;
    text-align: left;
    margin-bottom: 10px;
    color: #000;
}

.package_details {
    font-family: "Inter", sans-serif;
    font-size: 12.99px;
    font-weight: 400;
    line-height: 23.98px;
    text-align: left;
    margin-bottom: 20px;
    color: #000;
}

.flyer-link {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #987C55;
}

.package_right small {
    width: 153px;
    height: 35px;
    padding: 6.5px 25px 6.5px 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(251.21deg, #987C55 0%, #D0B58C 100%);
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}