.signin__modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.signin__content {
    display: flex;
    width: 1200px;
    /* Larger screen width */
    height: 658px;
    /* Larger screen height */
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    image-rendering: auto;
}

.signin__left {
    flex: 2;
}

.signin__left img {
    width: 600px;
    height: 658px;
}

.signin__right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/src/images/OtpImg.png") no-repeat;
}

.signin__card {
    width: 500px;
    /* Larger screen width */
    height: 300px;
    /* Larger screen height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(86.16deg, rgba(0, 0, 0, 0.8) 11.14%, rgba(28, 26, 26, 0.08) 113.29%);
    background-blend-mode: overlay;
}

.signin__enter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signin__enter h1 {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 24.26px;
    color: #fff;
}

.signin__close {
    width: 30px;
    height: 30px;
    background: rgb(208, 181, 140);
    border-radius: 50%;
    color: #fff;
}

.signin__name {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 30.26px;
    margin-bottom: 20px;
    color: #fff;
}

.signin__name hr {
    width: 96px;
    height: 1px;
    background-color: #ED8B00;
}

.signin__right span {
    width: 231px;
    height: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    color: #fff;
}

.signin__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signin__input label {
    color: #fff;
}

.signin__input input {
    width: 334px;
    padding: 5px;
    color: black;
    border-radius: 11px;
}

.signin__input input::placeholder {
    color: black;
}

.signin__link {
    font-family: "Inter", sans-serif;
    color: #d0b58c;
}

.signin__login {
    width: 260px;
    height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    color: #fff;
    background: rgb(208, 181, 140);
    background: linear-gradient(27deg, rgba(208, 181, 140, 1) 0%, rgba(208, 181, 140, 1) 52%, rgba(152, 124, 80, 1) 90%, rgba(152, 124, 80, 1) 100%);
}

@media (max-width: 767px) {
    @media (max-width: 767px) {


        .signin__enter {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .signin__content {
        width: 100%;
        /* Full width for small screens */
        height: 100%;
        /* Full height for small screens */
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .signin__left {
        display: none;
    }

    .signin__card {
        width: 380px;
        /* Adjust card width for small screens */
        height: auto;
        /* Allow height to adjust */
        padding: 20px;
    }

    .signin__enter h1 {
        font-size: 18px;
        /* Adjust font size */
    }

    .signin__name {
        font-size: 24px;
        /* Adjust font size */
        margin-bottom: 10px;
    }

    .signin__right span {
        font-size: 14px;
        /* Adjust font size */
    }

    .signin__input input {
        width: 100%;
        /* Full width input */
    }

    .signin__login {
        width: 100%;
        /* Full width button */
        margin-top: 10px;
        /* Add margin */
    }
}